.chat{
    background-color:white;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.chat-header{
    width: 100%;
    height: 19.3%;
    background-color: #eff0e8 ;
    display: flex;
    align-items: center;
}

.chat-header-name{
    background-color:;
    margin-left: 3vw;
    font-size: 30px;
    opacity: 0.8;
}

.chat-mes{
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; 
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    opacity: 0.9;
    background-color:;
    margin-bottom: 10px;
    
    
}

.item{
    width: 100%;
    margin-left: 10px;
    max-width: 70%;
    position: relative;
    padding:10px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 10px;
    height: auto;
    background-color:rgb(199, 235, 232) ;
    width: fit-content;
    display: flex;
    word-wrap: break-word;

}

.item2{
    width: 100%;
    margin-right: 10px;
    max-width: 70%;
    position: relative;
    padding:10px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 10px;
    height: auto;
    background-color:lightgreen ;
    margin-left: auto;
    width: fit-content;
    display: flex;
    word-wrap: break-word;
}

.name{
    position: absolute;
    top: -15px;
    z-index: 1;
    font-size: 11px;
    opacity: 0.6;
    font-weight: bold;
    color: black;
}

.time{
    min-width:8% ;
    margin-left: 10px;
    position: relative;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}

.text{
    width: ;
    word-wrap: break-word ;
}




.chat-footer{
    width: 100%;
    height: 14%;
    background-color: #eff0e8 ;
    display: flex;
    align-items: center;
}

.chat-input{
    width: 100%;
    height: 70%;
    /* margin-top: 8px;
    margin-left: 8px; */
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: ;
    border-radius: 20px;
    background-color: white;
}

.chat-input > input{
    width: 90%;
    margin-left: 15px;
    background-color: ;
    padding: 10px;
    border: none;
}

.chat-input i{
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-width: 700px){
    .item{
        max-width: 90%;
        
    }
    .item2{
        max-width: 90%;
       
    }
  }

